<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="cucumber.utilities.listeners.TestListener"/>
    </listeners>
    <test name="Emulator">
        <parameter name="udid" value="emulator-5554" />
        <parameter name="platformVersion" value="11.0" />
        <classes>
            <class name="cucumber.tests.TestRunner">
                <methods>
                    <include name="scenario" />
                </methods>
            </class>
        </classes>
    </test>
</suite>